/****
Konstantin Work
****/
/**Start**/
/* .navbar{
  background-color: #170b2a;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 110px;
  z-index: 100;
  padding : 20px;
} */
/* logo image */
.logo{
  width: 700px;
}
/* social button */
.social-btn{
  color : white;
}

.social-btn:hover {
  color : #a56dff;
}
/**navbar menu**/
#menu{
  width: auto;
}

.main_back{
  background-color: #1a0c2a;
}

/*title*/
.title{
  
}

.navbar{
  background: radial-gradient(circle at top, #590a7e, #0e0516 45%);
}

/**Transparent Input**/
.input-none{
  background: none;
}

/****/
.sector-radial1{
  background: radial-gradient(circle at bottom left, #641b87, #160722 32%);
}

.section_back{
  background-color: #0e0516;
}

.content-area{
  background: radial-gradient(circle at bottom left, #641b87, #160722 15%);
}









/**End**/
/*************************/


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}