/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Nunito, sans-serif;
}
.bg-button-image{
  background-image: linear-gradient(
    40deg
    , #E21B63 47%, #9029F2 100%);
}

.content-area{
  background-color: #4d237a;
}
.content-area-button{
  background-image: linear-gradient(to bottom, #a845f3 10%, #441852 100%)!important;
  color:white!important;
  }

  .content-area-button:hover{
    background-image: linear-gradient(to top, #7030a1 10%, #752b8b 100%)!important;}

    .content-area-button2{
      background-image: linear-gradient(to right, #3840f7 10%, #53d8ff 100%)!important;
      color:white!important;
      }
    
      .content-area-button2:hover{
        background-image: linear-gradient(to right, #53d8ff 10%, #3840f7 100%)!important;}

.modalbox-height{
  height: 500px;
  box-shadow: 50px 50px 50px 1000px rgba(128, 128, 128, 0.548);
}
@media only screen and (max-width: 767px) {
  .modalbox-height{
    height: 400px;
    
  }
}
.shadow-css{
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  
}
.shadow-css1{
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
  background: rgb(10, 36, 68);
}

.hpRDUw {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 30px;
  /* color: #ef4444; */
  text-align: center;
  padding-top: 40px;
  padding-bottom: 5px;
}

.gradient-border{
  border: 2px solid #8900fe;
}

.bg-image{
  height: 450px;
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .bg-image{
    height: 350px;
    width: 100%;
  }
}

@media only screen and (max-width: 642px) {
  .bg-image{
    height: 300px;
    width: 100%;
  }
}



@media only screen and (max-width: 639px) {
  .hpRDUw {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 15px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
  }
}


@media only screen and (max-width: 376px) {
  .content-area-button2{
    margin-right:0px!important;
    }
}


/* 
.bnb-border{
  border: 1px solid #e84444;
} */
.button-md-bg{
  background-color: #e84444;
}


.modal-box{
    /* background: radial-gradient(circle at top, #590a7e, #0e0516 45%); */
    /* border: double 5px transparent; */
    border-radius: 35px;
    background-color: #353444;
    /* background-origin: border-box; */
    /* background-clip: padding-box, border-box; */
}

.modal-button1{
    border: 2px solid #808080;
    background-color: #353444;
    border-radius: 15px;
    background-origin: border-box;
    background-clip: padding-box, border-box; 
}

.modal-button1:hover{
  background-color: #2b2936;
}

.border-4{
   border-radius: 15px;
    background-origin: border-box;
    background-clip: padding-box, border-box;

    border-image-source: linear-gradient(
140deg
,#ffa550, #ff0000);
  border-image-slice: 1;

  background-image: linear-gradient(#ff0000,#ffa550),linear-gradient( 
140deg
 , #ffa550, #ff0000);
}
.bg-opacity-5{
  --tw-bg-opacity: 0.01;
}
.border-rounded-table{
  border: 3px solid  #8900fe
}

.rounded-lg {

  border-radius: 2.5rem;
}

.py-14 {
  padding-top: 6.5rem;
}